<a href="https://colab.research.google.com/github/moira-du-monde/geolife_queries/blob/main/GeoLife_data_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture
pip install geopandas

In [ ]:
import pandas as pd
import geopandas as gpd
import os

# from os import listdir
# from os.path import isfile, join

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
folder_path = '/content/drive/MyDrive/geolife/full/Geolife Trajectories 1.3/Data'

def getListOfFiles(dirName):
    # create a list of file and sub directories 
    # names in the given directory 
    listOfFile = os.listdir(dirName)
    allFiles = list()
    # Iterate over all the entries
    for entry in listOfFile:
        # Create full path
        fullPath = os.path.join(dirName, entry)
        # If entry is a directory then get the list of files in this directory 
        if os.path.isdir(fullPath):
            allFiles = allFiles + getListOfFiles(fullPath)
        else:
            allFiles.append(fullPath)
                
    return allFiles

In [ ]:
files = getListOfFiles(folder_path)

In [ ]:
len(files)

18670

In [ ]:
li = []

for i in range(len(files)):
  # Read trajectory one by one
  this_traj = pd.read_csv(files[i],header=None, skiprows = 6)
  #this_traj.columns=["lat","lng","zero","elevation","longtimestring","date","time"]
  li.append(this_traj)

frame = pd.concat(li, axis = 0, ignore_index= True)

frame.columns = ["lat","lng","zero","elevation","longtimestring","date","time"]
# create geom column for geodataframe
frame['geometry'] = list(zip(frame.lat, frame.lng))

frame_gpd = gpd.GeoDataFrame(frame)
frame.shape

In [ ]:
frame.columns = ["lat","lng","zero","elevation","longtimestring","date","time"]
frame.head()

,lat,lng,zero,elevation,longtimestring,date,time
0,39.980202,116.345398,0,175.0,39746.598611,2008-10-25,14:22:00
1,39.980547,116.345549,0,186.0,39746.598669,2008-10-25,14:22:05
2,39.980585,116.345109,0,10.0,39746.599028,2008-10-25,14:22:36
3,39.980624,116.345264,0,-4.0,39746.599086,2008-10-25,14:22:41
4,39.980873,116.345361,0,18.0,39746.599144,2008-10-25,14:22:46

In [ ]:
# create geom column for geodataframe
frame['geometry'] = list(zip(frame.lat, frame.lng))

frame_gpd = gpd.GeoDataFrame(frame)
frame.shape

(24876978, 8)

In [ ]:
frame.to_csv('/content/drive/MyDrive/geolife/full/Geolife Trajectories 1.3/compiled.csv')